{% extends 'accounts/main.html' %}

{% block content %}
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h5 class="card-title">Customer</h5>
        <hr />
        <a class="btn btn-outline-info btn-sm btn-block my-1">Update Customer</a>
        <a class="btn btn-outline-danger btn-sm btn-block my-1">Delete Customer</a>
      </div>
    </div>
    <div class="col-md">
      <div class="card card-body bg-body-secondary">
        <h5 class="card-title">Contact Information</h5>
        <hr />
        <p>
          Email: <span class="text-light-emphasis">{{ customers.email }}</span>
        </p>
        <p>
          Phone: <span class="text-light-emphasis">{{ customers.phone }}</span>
        </p>
      </div>
    </div>
    <div class="col-md">
      <div class="card card-body">
        <h5 class="card-title">Total Orders</h5>
        <hr />
        <h1 class="text-center">{{ total_orders }}</h1>
      </div>
    </div>
  </div>

  {% comment %}Search{% endcomment %}
  <br />
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <form class="d-flex" role="search" action="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  {% comment %}List{% endcomment %}
  <br />
  <div class="card card-body">
    <table class="table table-striped-columns">
      <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Date Ordered</th>
        <th>Status</th>
        <th>Update</th>
        <th>Removed</th>
      </tr>
      {% for order in orders %}
        <tr>
          <td>{{ order.product.product_name }}</td>
          <td>{{ order.product.category }}</td>
          <td>{{ order.date_created }}</td>
          <td>{{ order.status }}</td>
          <td>
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'accounts:update_order' order.id %}">Update</a>
          </td>
          <td>
            <a class="btn btn-sm btn-danger" href="{% url 'accounts:delete_order' order.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
