{% extends 'accounts/main.html' %}

{% block content %}
    {% include "accounts/status.html" %}
  <div class="row">
    <div class="col-md-4 card card-body mx-2">
      <h5 class="card-title">Customers</h5>
      <div class="card-body card">
        <a class="btn btn-primary btn-md btn-block" href="">Create Customer</a>
        <table class="table table-md">
          <tr>
            <th>Customer</th>
            <th>Orders</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6 card card-body mx-2">
      <h5>Last Five Orders</h5>
      <div class="card card-body">
        <a class="btn btn-primary btn-md btn-block" href="">Create Orders</a>
        <table class="table table-md">
          <tr>
            <th>Product</th>
            <th>Date Ordered</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
