{% extends "accounts/main.html" %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h4 class="card-title">Products</h4>
        </div>
        <div class="card card-body my-2">
            <table class="table">
                <tr>
                    <th>Products</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}